{{ define "main" }}
<div class="container mx-auto px-4">
  <div class="grid grid-cols-4 pt-10 pb-10">
    <div class="col-span-1">
      <img src="{{.Params.img|absURL}}">
    </div>
    <div class="col-span-3">
      <article class="container mx-auto px-4">
        <h1 class="font-bold text-6xl tracking-tight">{{.Title}}</h1>
        <h1 class="font-semibold text-gray-600 text-xl">{{.Params.subtitle}}</h1>
        <h1 class="font-semibold text-gray-600 text-xl">Author {{.Params.author}}</h1>
        <h1 class="text-gray-500 text-sm">Published {{ .PublishDate.Format "2006-Jan-02" }}</h1>
        <div class="pt-4">
          {{.Content}}
        </div>
      </article>
    </div>
  </div>
</div>
{{ end }}
