{{ define "main" }}
<div class="container mx-auto px-2 pt-8">
  {{ with .Content }}
  <div class="article-style" itemprop="articleBody">{{ . }}</div>
  {{ end }}
  <div class="grid grid-cols-4 gap-4">
    <div class="col-span-3">
      {{ range .Data.Pages }}
      <div class="max-w-sm w-full md:max-w-full lg:max-w-full lg:flex pb-5">
        <div class="h-48 lg:h-auto lg:w-48 flex-none object-cover bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
              style="background-image: url('{{.Params.img|absURL}}')"
              title="">
        </div>
        <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
          <div class="mb-8">
            <div class="text-gray-900 font-bold text-xl mb-2"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
            <p class="text-sm text-gray-600">{{ .PublishDate.Format "02-Jan-2006" }}</p>
            <p class="text-gray-700 text-base">
              {{ if .Params.summary }}
              {{ .Params.summary | plainify | emojify }}
              {{ else if .Params.abstract }}
              {{ .Params.abstract | plainify | emojify | truncate 250 }}
              {{ else if .Summary }}
              {{ .Summary | plainify | emojify }}
              {{ end }}
            </p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>

    <div class="col-span-1">
      <div class="pl-2 pr-2 pt-2 pb-2 bg-white border border-gray-400 mb-4">
        <h1 class="text-xl font-bold pb-2">Published Books</h1>
        {{ range (where .Site.RegularPages "Type" "book") }}
        <div class="pl-2 pb-2">
          <h1 class="font-semibold"><a href="{{ .Params.url }}">{{ .Title }}</a></h1>
          <h1 class="text-sm text-gray-500">Published on {{ .PublishDate.Format "02-Jan-2006" }}</h1>
        </div>
        {{ end }}
      </div>
      <div class="pl-2 pr-2 pt-2 pb-2 bg-white border border-gray-400 mb-4">
        <h1 class="text-xl font-bold pb-2">Recent Talks</h1>
        {{ range first 3 (where .Site.RegularPages "Type" "talk") }}
        <div class="pl-2 pb-2">
          <h1 class="font-semibold"><a href="{{ .Params.url }}">{{ .Title }}</a></h1>
          <h1 class="text-sm text-gray-500">Published on {{ .PublishDate.Format "02-Jan-2006" }}</h1>
        </div>
        {{ end }}
      </div>
      <div class="pl-2 pr-2 pt-2 pb-2 bg-white border border-gray-400 mb-4">
        <h1 class="text-xl font-bold pb-2">Published Articles and Interviews</h1>
        {{ range (where .Site.RegularPages "Type" "media") }}
        <div class="pl-2 pb-2">
          <h1 class="font-semibold"><a href="{{ .Params.url }}">{{ .Title }}</a></h1>
          <h1 class="text-sm text-gray-500">Published on {{ .PublishDate.Format "02-Jan-2006" }}</h1>
        </div>
        {{ end }}
      </div>
    </div>

  </div>
</div>
{{ end }}
