{{ define "main" }}
<div class="container mx-auto px-4">

  <div class="pt-10">
    {{ range first 1 .Site.Taxonomies.series.featured }}
    <div class="flex sm:flex-wrap md:flex-wrap lg:flex-no-wrap xl:flex-no-wrap sm:flex-col md:flex-row lg:flex-row xl:flex-row">
      <div class="lg:w-2/3">
        <img class="rounded-lg shadow-lg" src="{{.Params.img|absURL}}" />
      </div>
      <div class="lg:w-1/3">
        <div class="flex items-center pl-4">
          <h1 class="sm:pt-2 md:pt-2 uppercase font-semibold leading-tight text-gray-600 ">{{.PublishDate.Format "January 02, 2006"}}</h1>
        </div>
        <div class="pt-2 pl-4">
          <h1 class="pb-2 text-3xl font-bold"><a href="" class="no-underline hover:underline hover:text-blue-600" >{{.Title}}</a></h1>
          <h1 class="pt-2">{{.Params.subTitle}}</h1>
        </div>
      </div>
    </div>
    {{ end }}
  </div>

  <div class="border-b pt-20"></div>

  <div class="pt-10">
    {{ range first 1 (where (where .Site.RegularPages "Type" "post" ) ".Params.featured" "!=" true) }}
    <div>
      <div class="relative pb-5/6">
        <img class="absolute h-full w-full object-cover rounded-lg shadow-md" src="{{.Params.img|absURL}}" >
      </div>
      <div class="relative px-4 -mt-16">
        <div class="bg-white p-6 rounded-lg shadow-lg">
          <div class="flex items-baseline">
            <span class="inline-block bg-teal-200 text-teal-800 text-xs px-2 rounded-full uppercase font-semibold tracking-wide">New</span>
            <div class="ml-2 text-gray-600 text-xs uppercase font-semibold tracking-wide">
              dsc
            </div>
          </div>
          <h4 class="mt-1 font-semibold text-lg leading-tight truncate">{{.Title}}</h4>
          <div class="mt-1">
            {{ .Params.subTitle }}
            <span class="text-gray-600 text-sm"> / wk</span>
          </div>
          <div class="mt-2 flex items-center">
            <svg v-for="i in 5" :key="i" viewBox="0 0 24 24" :class="i <= property.rating ? 'text-teal-500' : 'text-gray-400'" class="h-4 w-4 fill-current">
              <path d="M8.128 19.825a1.586 1.586 0 0 1-1.643-.117 1.543 1.543 0 0 1-.53-.662 1.515 1.515 0 0 1-.096-.837l.736-4.247-3.13-3a1.514 1.514 0 0 1-.39-1.569c.09-.271.254-.513.475-.698.22-.185.49-.306.776-.35L8.66 7.73l1.925-3.862c.128-.26.328-.48.577-.633a1.584 1.584 0 0 1 1.662 0c.25.153.45.373.577.633l1.925 3.847 4.334.615c.29.042.562.162.785.348.224.186.39.43.48.704a1.514 1.514 0 0 1-.404 1.58l-3.13 3 .736 4.247c.047.282.014.572-.096.837-.111.265-.294.494-.53.662a1.582 1.582 0 0 1-1.643.117l-3.865-2-3.865 2z" />
            </svg>
            <span class="ml-2 text-gray-600 text-sm"># reviews</span>
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>

  <div class="pt-10">
    <div class="grid lg:grid-cols-4 gap-4">
      {{ range first 4 (where (where .Site.RegularPages "Type" "post" ) ".Params.featured" "!=" true) }}
      <div class="sm:col-span-4 lg:col-span-1 sm:pb-8 md:pb-8">
        <div class="">
          <img class="rounded shadow-lg w-full" src="{{.Params.img|absURL}}">
          <div class="px-6 py-4">
            <h1 class="uppercase font-semibold leading-tight text-gray-600 ">{{.PublishDate.Format "January 02, 2006"}}</h1>
            <div class="font-bold text-xl mb-2"><a class="no-underline" href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></div>
            <p class="text-gray-700 text-base truncate">
              {{.Params.subTitle}}
            </p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>

  <div class="border-b pt-4"></div>

  <div class="pt-10">
    <h1 class="text-xl font-bold pb-8"><a href="/media" class="no-underline hover:text-blue-800">Recent Publications</a></h1>
    <div class="grid lg:grid-cols-4 gap-4">
      {{ range first 4 (where (where .Site.RegularPages "Type" "media" ) ".Params.featured" "!=" true) }}
      <div class="sm:col-span-4 lg:col-span-1 sm:pb-8 md:pb-8">
        <div class="">
          <img class="rounded shadow-lg w-full" src="{{.Params.img|absURL}}">
          <div class="py-4">
            <div class="flex items-center">
              <h1 class="uppercase font-semibold leading-tight text-gray-600 ">{{.PublishDate.Format "January 02, 2006"}}</h1>
              <span class="ml-2 inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2" >{{ .Params.blogName }}</span>
            </div>
            <div class="font-bold text-2xl mb-2"><a target="_blank" href="{{.Params.blogUrl}}" class="no-underline hover:underline hover:text-blue-600" >{{.Params.shortTitle}}</a></div>
            <p class="text-gray-700 text-base">
              {{.Title}}
            </p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>

  <div class="border-b pt-4"></div>

  <div class="pt-8">
    <h1 class="text-xl font-bold pb-8"><a href="/talk" class="no-underline hover:text-blue-800">Recent Talks</a></h1>
    <div class="grid lg:grid-cols-4 gap-4">
      {{ range first 4 (where (where .Site.RegularPages "Type" "talk" ) ".Params.featured" "!=" true) }}
      <div class="sm:col-span-4 lg:col-span-1 sm:pb-8 md:pb-8">
        <div class="">
          <div class="rounded shadow-lg" style="background-image: url('{{.Params.img|absURL}}')">
            <iframe
              src="https://www.youtube.com/embed/{{.Params.youtube}}?autoplay=0"
              style="top: 0; left: 0; width: 100%; height: 100%; border:0;"
              allowfullscreen title="YouTube Video"></iframe>
          </div>
          <div class="px-4 py-4">
            <div class="flex items-center">
              <h1 class="uppercase font-semibold leading-tight text-gray-600 ">{{.PublishDate.Format "January 02, 2006"}}</h1>
              <span class="ml-2 inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2" >{{ .Params.conference }}</span>
            </div>
            <div class="font-bold text-2xl mb-2"><a href="{{.Params.url}}" class="no-underline hover:underline hover:text-blue-600" >{{.Title}}</a></div>
            <p class="text-gray-700 text-base truncate">
              {{.Summary}}
            </p>
          </div>
          <div class="px-6 py-4">
            {{ range (.GetTerms "tags") }}
            <a class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2" href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
